#dropzone {
    min-height: 562px;
    background-color: transparent;
    border-radius: 10px;
    border-style: dashed;
    border-color: white;
}

.dz-image-preview {
    background-color: transparent !important;
}

.dz-message {
    margin-top: 50% !important;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}